@font-face {
    font-family: wedges;
    src: url('src/components/Theme/fonts/Wedges.ttf');
}

@font-face {
    font-family: a-day-without-sun;
    src: url('src/components/Theme/fonts/A_day_without_sun.otf');
}

* {
    box-sizing: border-box;
}