@font-face {
    font-family: wedges;
    src: url('src/components/Theme/fonts/Wedges.ttf');
}

@font-face {
    font-family: info-story;
    src: url('src/components/Theme/fonts/Info_Story.ttf');
}

* {
    box-sizing: border-box;
}